/* pseudo selectores */

/* variables globales */

:root {
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secunario: #0097a7;
    --gris: #757575;
    /* fuentes */
    --fuente-principal: 1.8rem;
}

/* pseudo selectores */

/* mejoras rem */

html {
    font-size: 62.5%;
    /*1 rem= 10px*/
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

/* mejoras rem */

.titulo {
    text-align: center;
    /* uso de variables */
    font-size: var(--fuente-principal);
    /* font-size: 3.8 rem; */
    /* color: var(--primario); */
    font-weight: normal;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    /* margin-top: 0rem;
    margin-right: auto;
    margin-bottom: 0rem;
    margin-left: auto; */
    margin: 0 auto;
}

.nav-bg {
    /* uso de variables */
    background-color: var(--secunario);
}

.navegacion-principal {
    /* engorda desde donde termina el elemento hacia adentro */
    padding: 1rem;
    /* activar flexbox */
    display: flex;
    /* default */
    flex-direction: row;
    /* mover contenido horizontalmente */
    justify-content: space-between;
}

.navegacion-principal a {
    color: var(--blanco);
    /* quitar la decoracion de los links */
    text-decoration: none;
}